test.php
/node_modules
.env
/public/css
/public/build
/vendor
model.txt
/public/uploads
/public/vendor
/public/themes
/public/js
/public/fonts
/storage
/bower_components
log.txt
logs
.idea
.vscode
composer.lock
